<!DOCTYPE html>
<html>
    <head>
        <title>Help | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>Find more about this project at
            <a href="https://github.com/VilleRytinki/sample_app"</a><em>My repository</em>
        </p>
    </body>
</html>
</html>

